{{#if totalResults}}
{{#each articles}}
<li class="grid-card">
    <div class="grid-card-container">
        {{#if this.author}}
        <p class="grid-author">Author: {{this.author}}</p>
        {{else}}
        <p class="grid-author">Author: Unknown</p>
        {{/if}}
        {{#if this.urlToImage}}
        <img class="grid-image" src="{{this.urlToImage}}" alt="Title photo">
        {{else}}
        <img class="grid-image" src="https://images.app.goo.gl/7ePxck1LgMsCjsL57" alt="Title photo">
        {{/if}}
        <h2 class="grid-title"><a href="{{this.url}}">{{this.title}}</a></h2>
        <p class="description">Description: {{this.description}}</p>
    </div>
</li>
{{/each}}
{{else}}
<h2>Ничего не найдено!</h2>
{{/if}}