{{#if totalResults}}
{{#each articles}}
<li class="grid-card">
    <div class="grid-card-container">
        {{#if this.author}}
        <p class="grid-author">Author: {{this.author}}</p>
        {{else}}
        <p class="grid-author">Author: Unknown</p>
        {{/if}}
        {{#if this.urlToImage}}
        <img class="grid-image" src="{{this.urlToImage}}" alt="Title photo">
        {{else}}
        <img class="grid-image"
            src="https://scontent.fiev20-1.fna.fbcdn.net/v/t1.0-9/65173958_2384653394889200_6704325493857976320_o.png?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=5hR73u8KLcwAX8Erg6O&_nc_ht=scontent.fiev20-1.fna&oh=145c0bc5aa816d7db628d679fc5aa939&oe=5FD885CF"
            alt="Title photo">
        {{/if}}
        <h2 class="grid-title"><a href="{{this.url}}" target="_blank">{{this.title}}</a></h2>
        <p class="description">Description: {{this.description}}</p>
    </div>
</li>
{{/each}}
{{else}}
<h2>Ничего не найдено!</h2>
{{/if}}